*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-size:16px;
}
ul{
    list-style:none;
}
img{
    width:100%;
}
#wrap{
    width:100%;
    max-width:1400px;
    margin:0 auto;
}
#header{
    width:100%;
    background:skyblue;
    padding:10px 0;
    display:flex;
    align-items:center;
}
#nav{
    width:calc( 100% - 50px );
    background:green;
    height:30px;
}
.logo{
    width:50px;
    background:firebrick;
    height:50px;
}
#main{
    padding:50px 0;
    background:khaki;
    width:100%;
}
.content{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    column-gap:20px;
    justify-content:center;
}
.item{
    width:30%;
}
#footer{
    width:100%;
    padding:20px 50px;
    background: lawngreen;
    position:relative;
}
.addr{
    width:70%;
    height:20px;
    background:darkgoldenrod

}
.tel{
    width:30%;
    height:20px;
    background:rebeccapurple;
}
#footer .logo{
    position:absolute;
    top:20px;
    right:50px;
}
/* 태블릿 용 */
@media screen and (max-width:1024px){
    #nav{
        order:2;
    }
    .logo{
        width:100px;
        height:100px;
        order:1;
    }
    #footer .logo{
        width:30px;
        height:30px;
    }
}
/* 스마트폰 용 */
@media screen and (max-width:480px){
    #header{
        justify-content:space-between;
    }
    #nav{
        width:50px;
    }
    .item{
        width:90%;
    }
}